Repository MarlinFirmware/Configurations, pull requests merged in 2020-10, with the labels that each got.

#227 Add Ender-5 Creality V4.2.7 Configs
  config/examples/Creality/Ender-5/CrealityV427/Configuration.h
  config/examples/Creality/Ender-5/CrealityV427/Configuration_adv.h
  config/examples/Creality/Ender-5/CrealityV427/_Bootscreen.h
  config/examples/Creality/Ender-5/CrealityV427/_Statusscreen.h
Labels: config added

#228 Add Ender-5 Pro Creality V4.2.7 Configs
  config/examples/Creality/Ender-5 Pro/Creality/Configuration.h
  config/examples/Creality/Ender-5 Pro/Creality/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/Creality/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/Creality/_Statusscreen.h
  config/examples/Creality/Ender-5 Pro/CrealityV427/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV427/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/CrealityV427/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/CrealityV427/_Statusscreen.h
Labels: config added

#232 FLSun Q5
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration.h
  config/examples/delta/FLSUN/Q5-nano_v2/Configuration.h
Labels: config added

#235 Disable Z_STEPPER_AUTO_ALIGN SKR in E3 Turbo Config
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/2-into-1 Hotend/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/2-into-1 Hotend/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/2-into-1 Hotend/_Bootscreen.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/2-into-1 Hotend/_Statusscreen.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/Dual Z/Configuration_adv.h
Labels: config bugfix

#246 Enable PROBE_OFFSET_WIZARD on BTT/Biqu Configs
  config/examples/BIQU/B1-BLTouch/Configuration_adv.h
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration_adv.h
Labels: config improved

#248 Move CR-10 5S config examples from to CR-10_5S to CR-10 S5
  config/examples/Creality/CR-10 S5/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 S5/CrealityV1/Configuration_adv.h
  config/examples/Creality/CR-10 S5/CrealityV1/_Bootscreen.h
  config/examples/Creality/CR-10 S5/CrealityV1/_Statusscreen.h
Labels: config updated

#245 CR-10 S4 with Creality V1
  config/examples/Creality/CR-10 S4/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 S4/CrealityV1/Configuration_adv.h
  config/examples/Creality/CR-10 S4/CrealityV1/_Bootscreen.h
  config/examples/Creality/CR-10 S4/CrealityV1/_Statusscreen.h
Labels: config added

#268 Update Prusa MK3S BTT002 Config
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration_adv.h
Labels: config improved

#267 Revert "770mA E Current on Ender-3 with SKR Mini E3 1.2 (#243)"
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 1.2/Configuration_adv.h
Labels: config improved

#281 Error correction for Flsun Q5 config
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration.h
Labels: config bugfix

#277 Cleanup BTT SKR E3-DIP V1.x config
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration_adv.h
Labels: config improved

#271 Increase default Biqu B1 extruder current
  config/examples/BIQU/B1-BLTouch/Configuration_adv.h
  config/examples/BIQU/B1/Configuration_adv.h
Labels: config bugfix

#273 Ender 5 pro v422
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/_Statusscreen.h
Labels: config added

#258 Rename "Ender-5_Plus" directory to "Ender-5 Plus" for consistency
  config/examples/Creality/Ender-5 Plus/Configuration.h
  config/examples/Creality/Ender-5 Plus/Configuration_adv.h
  config/examples/Creality/Ender-5 Plus/README.md
Labels: config improved

#260 Moved files as renamed "Ender-5 Pro/Creality" directory to "Ender-5 Pro/CrealityV1"
  config/examples/Creality/Ender-5 Pro/CrealityV1/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV1/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/CrealityV1/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/CrealityV1/_Statusscreen.h
Labels: config improved

#261 Moved files as renamed "Ender-5/Creality" directory to "Ender-5/CrealityV1"
  config/examples/Creality/Ender-5/CrealityV1/Configuration.h
  config/examples/Creality/Ender-5/CrealityV1/Configuration_adv.h
  config/examples/Creality/Ender-5/CrealityV1/_Bootscreen.h
  config/examples/Creality/Ender-5/CrealityV1/_Statusscreen.h
Labels: config improved

#270 Use named TFT option for Tevo Nereus config (MKS_ROBIN_TFT35)
  config/examples/Tevo/Nereus/Configuration.h
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration.h
Labels: config bugfix

#259 Move and rename "Ender-3 Pro V1.5" to "Ender-3 Pro/CrealityV422" for consistency
  config/examples/Creality/Ender-3 Pro/CrealityV422/Configuration.h
  config/examples/Creality/Ender-3 Pro/CrealityV422/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/CrealityV422/README.md
Labels: config improved

#279 Tune SKR E3-DIP V1.x parameters
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration_adv.h
Labels: config improved

#275 QQS-Pro Board Hispeedv1
  config/examples/delta/FLSUN/QQS-Pro/Configuration.h
  config/examples/delta/FLSUN/QQS-Pro/Configuration_adv.h
  config/examples/delta/FLSUN/QQS-Pro/_Bootscreen.h
  config/examples/delta/FLSUN/QQS-Pro/_Statusscreen.h
Labels: config added

#278 Fix Linear Advance for BTT SKR E3-DIP V1.x
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration_adv.h
Labels: config improved

#282 Change underscore to space in FunmatHT 4988 and Pegasus 12 printer names
  config/examples/Intamsys/FunmatHT 4988/Configuration.h
  config/examples/Intamsys/FunmatHT 4988/Configuration_adv.h
  config/examples/Intamsys/FunmatHT 4988/_Bootscreen.h
  config/examples/Intamsys/FunmatHT 4988/_Statusscreen.h
  config/examples/MakerFarm/Pegasus 12/Configuration.h
  config/examples/MakerFarm/Pegasus 12/Configuration_adv.h
Labels: config improved

#302 Ender 5 BTT SKR E3 1.2 example
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/Configuration_adv.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/_Bootscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/_Statusscreen.h
Labels: config added

#296 Add important SD card information for Ender 5 plus DGUS Display flashing.
  config/examples/Creality/Ender-5 Plus/Configuration.h
Labels: config improved
