Repository MarlinFirmware/Configurations, pull requests merged in 2020-12, with the labels that each got.

#353 Replace PROBE_OFFSET_START with PROBE_OFFSET_WIZARD_START_Z.
  config/examples/Creality/Ender-3/CrealityV422/Configuration_adv.h
  config/examples/Two Trees/Sapphire Pro/Configuration_adv.h
Labels: config bugfix

#357 Sapphire Pro TMC2209/BLTOUCH Easy Switch
  config/examples/Two Trees/BlueR/readme.md
  config/examples/Two Trees/Sapphire Pro/Configuration.h
  config/examples/Two Trees/Sapphire Pro/Configuration_adv.h
  config/examples/Two Trees/Sapphire Pro/readme.md
Labels: config improved

#367 Add Anet ET5 configs
  config/examples/Anet/ET5-Pro/Configuration.h
  config/examples/Anet/ET5-Pro/Configuration_adv.h
  config/examples/Anet/ET5-Pro/README.md
  config/examples/Anet/ET5/Configuration.h
  config/examples/Anet/ET5/Configuration_adv.h
  config/examples/Anet/ET5/README.md
  config/examples/Anet/ET5X/Configuration.h
  config/examples/Anet/ET5X/Configuration_adv.h
  config/examples/Anet/ET5X/README.md
Labels: config added

#380 Remove HOMING_FEEDRATE_XY/Z defines
  config/examples/Anet/E10/Configuration.h
  config/examples/Anet/ET5-Pro/Configuration.h
  config/examples/Anet/ET5/Configuration.h
  config/examples/Anet/ET5X/Configuration.h
  config/examples/EXP3D/Imprimante multifonction/Configuration.h
  config/examples/Geeetech/A10T/Configuration.h
  config/examples/Geeetech/A20T/Configuration.h
  config/examples/Geeetech/A30/Configuration.h
  config/examples/Geeetech/D200/Configuration.h
  config/examples/Geeetech/Duplicator5/Configuration.h
  config/examples/Geeetech/E180/Configuration.h
  config/examples/Geeetech/M201/Configuration.h
  config/examples/Geeetech/Me_creator/Configuration.h
  config/examples/Geeetech/Me_ducer/Configuration.h
  config/examples/MakerFarm/Pegasus 12/Configuration.h
  config/examples/delta/Dreammaker/Overlord/Configuration.h
  config/examples/delta/Geeetech/G2/Configuration.h
  config/examples/delta/Geeetech/G2Pro/Configuration.h
  config/examples/delta/Geeetech/G2S/Configuration.h
  config/examples/delta/Geeetech/G2SPro/Configuration.h
  config/examples/delta/kossel_clear/Configuration.h
Labels: config bugfix

#375 Ender 6
  config/examples/Creality/Ender-6/Configuration.h
  config/examples/Creality/Ender-6/Configuration_adv.h
  config/examples/Creality/Ender-6/README.md
Labels: config added

#374 Two Trees Sapphire Pro - Update README.MD
  config/examples/Two Trees/Sapphire Pro/readme.md
Labels: config bugfix

#377 Update Alfawise U20 samples
  config/examples/Alfawise/U20-bltouch/Configuration.h
  config/examples/Alfawise/U20-bltouch/Configuration_adv.h
  config/examples/Alfawise/U20/Configuration.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: config improved
