Repository MarlinFirmware/Configurations, pull requests merged in 2020-11, with the labels that each got.

#295 Enable PROBE_MANUALLY for M300
  config/examples/delta/Malyan M300/Configuration.h
Labels: config improved

#294 Disable features on sanguino1284p examples that don't fit in flash
  config/examples/Anet/E16/Configuration.h
  config/examples/Geeetech/Me_ducer/Configuration_adv.h
Labels: config improved

#288 Update broken TFT Configurations
  config/examples/delta/Anycubic/Predator/Configuration.h
  config/examples/delta/Anycubic/Predator/Configuration_adv.h
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration.h
Labels: config bugfix

#303 Reduce false errors on Chirons
  config/examples/AnyCubic/Chiron/Configuration.h
  config/examples/AnyCubic/Chiron/Configuration_adv.h
Labels: config improved

#286 Disable filament runout sensors on CopyMaster examples
  config/examples/Copymaster3D/300/Configuration.h
  config/examples/Copymaster3D/400/Configuration.h
  config/examples/Copymaster3D/500/Configuration.h
Labels: config improved

#287 Disable S_CURVE_ACCELERATION to avoid LIN_ADVANCE sanity check
  config/examples/Creality/Ender-5 Plus/Configuration.h
  config/examples/Ortur 4/Configuration.h
Labels: config improved

#290 Fix preheat definitions
  config/examples/Creality/CR-10 S4/CrealityV1/Configuration.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Mini E3 2.0/Configuration.h
Labels: config bugfix

#291 Add missing MKS SBase DigiPot addresses
  config/examples/Mks/Sbase/Configuration_adv.h
Labels: config bugfix

#292 Revert broken PID settings for FLSUN/Q5
  config/examples/delta/FLSUN/Q5-nano_v2/Configuration.h
Labels: config bugfix

#301 Add Machine, Brand: Two Trees, Model: Bluer
  config/examples/Two Trees/Bluer/Configuration.h
Labels: config added

#308 Improve ender 5 btt
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/Configuration.h
Labels: config improved

#309 Fix minor correction for Delta QQS-Pro HISPEED board.
  config/examples/delta/FLSUN/QQS-Pro/Configuration.h
  config/examples/delta/FLSUN/QQS-Pro/Configuration_adv.h
Labels: config improved

#316 Fix incorrect serial ports for MKS boards without true USB
  config/examples/Creality/Ender-3/MKS Robin E3 1.0/Configuration.h
  config/examples/Mks/Robin_Pro/Configuration.h
Labels: config bugfix

#336 Add Two Trees Sapphire Pro Marlin Settings
  config/examples/Two Trees/Sapphire Pro/Configuration.h
  config/examples/Two Trees/Sapphire Pro/Configuration_adv.h
  config/examples/Two Trees/Sapphire Pro/readme.md
Labels: config added

#335 Add configuration for the TwoTrees Sapphire Plus V2
  config/examples/Two Trees/Sapphire/Sapphire Plus V2/Configuration.h
  config/examples/Two Trees/Sapphire/Sapphire Plus V2/Configuration_adv.h
  config/examples/Two Trees/Sapphire/readme.md
Labels: config added

#334 Fix BlueR TMC2209 steps for V3 Version / Fix Z Direction for TMC Drivers / ADD BLTOUCH
  config/examples/Two Trees/BlueR/BlueR V1/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V1/Configuration_adv.h
  config/examples/Two Trees/BlueR/BlueR V2/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V2/Configuration_adv.h
  config/examples/Two Trees/BlueR/BlueR V3/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V3/Configuration_adv.h
  config/examples/Two Trees/BlueR/readme.md
Labels: config improved

#324 Anet E16 BTT SKR13
  config/examples/Anet/E16/BTT SKR 1.3/Configuration.h
  config/examples/Anet/E16/BTT SKR 1.3/Configuration_adv.h
  config/examples/Anet/E16/Stock/Configuration.h
  config/examples/Anet/E16/Stock/Configuration_adv.h
  config/examples/Anet/E16/Stock/_Bootscreen.h
  config/examples/Anet/E16/Stock/_Statusscreen.h
Labels: config added

#331 Raiscube A8r
  config/examples/Raiscube/A8r/Configuration.h
  config/examples/Raiscube/A8r/Configuration_adv.h
Labels: config added

#349 Ender 5 with SKR Mini E3 1.2
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 1.2/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 1.2/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 1.2/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 1.2/_Statusscreen.h
Labels: config added
