Repository MarlinFirmware/Configurations, pull requests merged in 2020-08, with the labels that each got.

#178 Automatically enable SDCARD_READONLY for Ender-3 and Ender-3-Pro
  config/examples/Creality/Ender-3 Pro/Configuration_adv.h
  config/examples/Creality/Ender-3/CrealityV1/Configuration_adv.h
Labels: config improved

#184 Disable boot logo and add XPT2046 offsets to fix compilation errors
  config/examples/delta/Anycubic/Predator/Configuration.h
Labels: config bugfix

#181 Zonestar 2 with BTT SKR 1.4 Turbo
  config/examples/Zonestar/P802QR2/BigTreeTech SKR 1.4 Turbo (A4988)/Configuration.h
  config/examples/Zonestar/P802QR2/BigTreeTech SKR 1.4 Turbo (A4988)/Configuration_adv.h
Labels: config added

#180 Update Ender-5 SKR 1.4 Turbo config + add readme
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/Configuration_adv.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/README.md
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/_Bootscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/_Statusscreen.h
Labels: config added
