Repository MarlinFirmware/Configurations, pull requests merged in 2020-06, with the labels that each got.

#118 JGAurora A3
  config/examples/JGAurora/A3/Configuration.h
Labels: new configs

#120 Anycubic Mega Zero Marlin 1.1.9 configs, based on Anycubic's v0.0.4 FW
  config/examples/Anycubic/Mega Zero/Configuration.h
  config/examples/Anycubic/Mega Zero/Configuration_adv.h
  config/examples/Anycubic/Mega Zero/README.md
  config/examples/Anycubic/Mega Zero/_Bootscreen.h
  config/examples/Anycubic/Mega Zero/_Statusscreen.h
Labels: new configs

#121 Anycubic Mega Zero Marlin 2.0.5 configs, based on Anycubic's v0.0.4 FW
  config/examples/AnyCubic/Mega Zero/Configuration.h
  config/examples/AnyCubic/Mega Zero/Configuration_adv.h
  config/examples/AnyCubic/Mega Zero/README.md
  config/examples/AnyCubic/Mega Zero/_Bootscreen.h
  config/examples/AnyCubic/Mega Zero/_Statusscreen.h
Labels: new configs

#123 Use PROBING_MARGIN instead of MIN_PROBE_EDGE
  config/examples/BigTreeTech/SKR Mini E3 2.0/Configuration.h
  config/examples/JGAurora/A3/Configuration.h
Labels: config updated

#122 Renkforce RF100: Update heater and bed max. temperature envelope according to data sheets
  config/examples/Renkforce/RF100/Configuration.h
  config/examples/Renkforce/RF100XL/Configuration.h
  config/examples/Renkforce/RF100v2/Configuration.h
Labels: config improved

#126 Move more Ender-3 configs
  .github/pull_request_template.md
  config/examples/Creality/Ender-3 Pro/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 2.0/_Bootscreen.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 2.0/_Statusscreen.h
  config/examples/Creality/Ender-3/CrealityV1/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/_Bootscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/_Statusscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/_Bootscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/_Statusscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/_Bootscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/_Statusscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/_Bootscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/_Statusscreen.h
Labels: config improved

#127 Add Sovol SV-01 config
  config/examples/Sovol/SV-01/Configuration.h
  config/examples/Sovol/SV-01/Configuration_adv.h
  config/examples/Sovol/SV-01/_Bootscreen.h
  config/examples/Sovol/SV-01/_Statusscreen.h
Labels: config added

#128 Tronxy x5sa v5 v6
  config/examples/Tronxy/X5SA/Configuration.h
  config/examples/Tronxy/X5SA/Configuration_adv.h
  config/examples/Tronxy/X5SA/HOWTO-INSTALL.md
  config/examples/Tronxy/X5SA/chitu-board.jpg
  config/examples/chitu-board.jpg
Labels: config added

#132 Nominal belt/pulley values as defaults
  config/examples/Creality/Ender-3 Pro/Configuration.h
Labels: config improved

#131 Added CTC i3 GT2560 Rev A clone configuration without probe
  config/examples/CTC/i3 2560 Rev A/no probe/Configuration.h
Labels: config added

#138 Fix Geeetech/G2S mirrored feeder
  config/examples/delta/Geeetech/G2S/Configuration.h
Labels: config bugfix
