Repository MarlinFirmware/Configurations, pull requests merged in 2021-05, with the labels that each got.

#485 remove references to homing_feedrate_mm_m.z in config examples
  config/examples/EXP3D/Imprimante multifonction/Configuration.h
  config/examples/delta/Anycubic/Kossel Linear Plus/Configuration.h
Labels: config bugfix

#484 Update AnyCubic Mega Zero 2.0 Icon positions
  config/examples/AnyCubic/Mega Zero 2.0/Anycubic V1/_Statusscreen.h
Labels: config bugfix

#475 Added SV-01 BTT SKR mini E3 V2 example
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 2.0/_Bootscreen.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 2.0/_Statusscreen.h
Labels: config added

#489 Add Wanhao Duplicator i3 Plus
  config/examples/Wanhao/Duplicator i3 Plus/Configuration.h
  config/examples/Wanhao/Duplicator i3 Plus/Configuration_adv.h
  config/examples/Wanhao/Duplicator i3 Plus/README.md
Labels: config added

#504 Update _Bootscreen.h
  config/examples/AnimationExample/_Bootscreen.h
Labels: config improved

#503 Malyan M180 Configuration.h file to get a stock M180 dual extruder to…
  config/examples/Malyan/M180/Configuration.h
Labels: config added
