Repository MarlinFirmware/Configurations, pull requests merged in 2021-03, with the labels that each got.

#445 Assume nominal belts/pulleys for Tevo configs
  config/examples/Tevo/Michelangelo/Configuration.h
  config/examples/Tevo/Nereus/Configuration.h
  config/examples/Tevo/Tarantula Pro/Configuration.h
  config/examples/Tevo/Tornado/V1 (MKS Base)/Configuration.h
  config/examples/Tevo/Tornado/V2 (MKS GEN-L)/Configuration.h
Labels: config improved

#442 Initial commit for Creality Ender-3 Max config
  config/examples/Creality/Ender-3 Max/Configuration.h
  config/examples/Creality/Ender-3 Max/Configuration_adv.h
  config/examples/Creality/Ender-3 Max/_Bootscreen.h
  config/examples/Creality/Ender-3 Max/_Statusscreen.h
Labels: config added

#434 Fix inverted YZE axes - Ender 3 with MKS Robin E3P
  config/examples/Creality/Ender-3/MKS Robin E3P/Configuration.h
Labels: config bugfix

#447 add YHCB2004 with v4.1 board models + A30 variants
  config/examples/Geeetech/A10M/Stock LCD/Configuration.h
  config/examples/Geeetech/A10M/YHCB2004_V4.1/Configuration.h
  config/examples/Geeetech/A10PRO/Configuration.h
  config/examples/Geeetech/A10PRO/Configuration_adv.h
  config/examples/Geeetech/A10T/Stock LCD/Configuration.h
  config/examples/Geeetech/A10T/YHCB2004_V4.1/Configuration.h
  config/examples/Geeetech/A30M/Configuration.h
  config/examples/Geeetech/A30M/Configuration_adv.h
  config/examples/Geeetech/A30T/Configuration.h
  config/examples/Geeetech/A30T/Configuration_adv.h
Labels: config added

#404 Fix Sapphire Pro E direction
  config/examples/Two Trees/Sapphire Pro/Configuration.h
Labels: config updated

#407 Creality Ender 3 Pro SKR 1.4 Turbo (2209) Bltouch
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/README.md
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/_Bootscreen.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/_Statusscreen.h
Labels: config added

#409 new config: Eryone Thinker SE w/ BLTouch and Filament Runout Sensor
  config/examples/Eryone/Thinker SE/Configuration.h
  config/examples/Eryone/Thinker SE/Configuration_adv.h
  config/examples/Eryone/Thinker SE/README.md
  config/examples/Eryone/Thinker SE/_Bootscreen.h
  config/examples/Eryone/Thinker V2/Configuration.h
  config/examples/Eryone/Thinker V2/Configuration_adv.h
  config/examples/Eryone/Thinker V2/_Bootscreen.h
Labels: config added

#423 AnyCubic Predator - filament runout sensor state
  config/examples/delta/Anycubic/Predator/Configuration.h
Labels: config bugfix

#425 Mks robin e3 new version
  config/examples/Artillery/Sidewinder X1_0.9_degree_BMG_E3D_V6/README.md
  config/examples/Creality/Ender-3/MKS Robin E3/README.md
  config/examples/Creality/Ender-3/MKS Robin E3/V1.0/Configuration.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.0/Configuration_adv.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.0/_Bootscreen.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.0/_Statusscreen.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.1/Configuration.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.1/Configuration_adv.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.1/_Bootscreen.h
  config/examples/Creality/Ender-3/MKS Robin E3/V1.1/_Statusscreen.h
Labels: config added

#429 Added: BTT SKR Pro v1.2 + TMC2209 + BLTouch + TFT
  config/examples/Creality/CR-10S/BigTreeTech SKR Pro v1.2/Configuration.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Pro v1.2/Configuration_adv.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Pro v1.2/README.md
  config/examples/Creality/CR-10S/BigTreeTech SKR Pro v1.2/_Bootscreen.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Pro v1.2/_Statusscreen.h
Labels: config added

#430 Original Creation of CR-10 V3 Examples
  config/examples/Creality/CR-10 V3/Configuration.h
  config/examples/Creality/CR-10 V3/Configuration_adv.h
  config/examples/Creality/CR-10 V3/_Bootscreen.h
  config/examples/Creality/CR-10 V3/_Statusscreen.h
Labels: config added

#441 Add Sovol SV-01 silent board config
  config/examples/Sovol/SV-01/CrealityV22/Configuration.h
  config/examples/Sovol/SV-01/CrealityV22/Configuration_adv.h
  config/examples/Sovol/SV-01/CrealityV22/_Bootscreen.h
  config/examples/Sovol/SV-01/CrealityV22/_Statusscreen.h
  config/examples/Sovol/SV-01/CrealityV221/Configuration.h
  config/examples/Sovol/SV-01/CrealityV221/Configuration_adv.h
  config/examples/Sovol/SV-01/CrealityV221/_Bootscreen.h
  config/examples/Sovol/SV-01/CrealityV221/_Statusscreen.h
Labels: config added

#444 CR-10 Mini - BigTreeTech SKR Mini E3 2.0
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/README.md
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/_Bootscreen.h
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/_Statusscreen.h
Labels: config added

#452 Ender 5 Pro: Introduce BigTreeTech SKR Mini E3 2.0 configuration
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/README.md
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/_Statusscreen.h
Labels: config added
