Repository MarlinFirmware/Configurations, pull requests merged in 2021-11, with the labels that each got.

#597 Add Artillery Sidewinder X2, Hornet, Genius BLTouch Configs
  config/examples/Artillery/Genius/BLTouch/Configuration.h
  config/examples/Artillery/Genius/BLTouch/Configuration_adv.h
  config/examples/Artillery/Genius/BLTouch/_Bootscreen.h
  config/examples/Artillery/Genius/V1/Configuration.h
  config/examples/Artillery/Genius/V1/Configuration_adv.h
  config/examples/Artillery/Genius/V1/_Bootscreen.h
  config/examples/Artillery/Hornet/Configuration.h
  config/examples/Artillery/Hornet/Configuration_adv.h
  config/examples/Artillery/Hornet/_Bootscreen.h
  config/examples/Artillery/Sidewinder X1/0.9 BMG - E3D V6/Configuration.h
  config/examples/Artillery/Sidewinder X1/0.9 BMG - E3D V6/Configuration_adv.h
  config/examples/Artillery/Sidewinder X1/0.9 BMG - E3D V6/_Bootscreen.h
  config/examples/Artillery/Sidewinder X1/V1/Configuration.h
  config/examples/Artillery/Sidewinder X1/V1/Configuration_adv.h
  config/examples/Artillery/Sidewinder X1/V1/_Bootscreen.h
  config/examples/Artillery/Sidewinder X2/Configuration.h
  config/examples/Artillery/Sidewinder X2/Configuration_adv.h
  config/examples/Artillery/Sidewinder X2/_Bootscreen.h
Labels: config improved, config added

#604 Add Biqu BX (TFT_COLOR_UI)
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/Configuration_adv.h
Labels: config added

#605 Add Biqu B1 with SKR 2
  config/examples/BIQU/B1 - SKR 1.4/Configuration.h
  config/examples/BIQU/B1 - SKR 1.4/Configuration_adv.h
  config/examples/BIQU/B1 - SKR 1.4/README.md
  config/examples/BIQU/B1 - SKR 2/Configuration.h
  config/examples/BIQU/B1 - SKR 2/Configuration_adv.h
  config/examples/BIQU/B1 - SKR 2/README.md
  config/examples/BIQU/B1-BLTouch/README.md
Labels: config added

#606 Restore Low EJERK Configs
  config/examples/Artillery/Sidewinder X1/0.9 BMG - E3D V6/Configuration_adv.h
  config/examples/Creality/CR-6 SE/Configuration_adv.h
  config/examples/Creality/Ender-3 Max/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo with BLTouch/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo with BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo with BLTouch/README.md
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/README.md
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration_adv.h
  config/examples/Geeetech/A10D/Configuration_adv.h
  config/examples/Geeetech/PI3A PRO/Configuration_adv.h
  config/examples/Prusa/MK3/Configuration.h
  config/examples/Prusa/MK3/Configuration_adv.h
  config/examples/Ultimaker/Ultimaker Original Plus (2.1.1)/Configuration_adv.h
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration.h
  config/examples/delta/FLSUN/Q5-nano_v1/Configuration_adv.h
  config/examples/delta/FLSUN/QQS-Pro/Configuration_adv.h
  config/examples/delta/Geeetech/G2/Configuration.h
  config/examples/delta/Geeetech/G2/Configuration_adv.h
  config/examples/delta/Geeetech/G2Pro/Configuration.h
  config/examples/delta/Geeetech/G2Pro/Configuration_adv.h
  config/examples/delta/Geeetech/G2S/Configuration.h
  config/examples/delta/Geeetech/G2S/Configuration_adv.h
  config/examples/delta/Geeetech/G2SPro/Configuration.h
  config/examples/delta/Geeetech/G2SPro/Configuration_adv.h
  config/examples/delta/kossel_clear/Configuration.h
  config/examples/delta/kossel_clear/Configuration_adv.h
Labels: config improved

#609 Correct breakage of FFCP config post PR 22983
  config/examples/FlashForge/CreatorPro/Configuration_adv.h
Labels: config bugfix

#613 Update B1 SE Plus Config
  config/examples/BIQU/B1 SE Plus/Configuration.h
  config/examples/BIQU/B1 SE Plus/Configuration_adv.h
Labels: config improved, config bugfix

#614 Enforce Probing Preheat on B1 SE Plus
  config/examples/BIQU/B1 SE Plus/Configuration.h
Labels: config improved

#616 Biqu BX - Allow Low E Jerk
  config/examples/BIQU/BX/Configuration_adv.h
Labels: config improved

#617 Biqu B1 (SKR2) - Disable Print Counter
  config/examples/BIQU/B1 - SKR 2/Configuration.h
Labels: config bugfix
