Repository MarlinFirmware/Configurations, pull requests merged in 2021-01, with the labels that each got.

#383 Improve BigTreeTech BTT002 Readme
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/README.md
Labels: config improved

#384 Fix CR-10 V2 with BLTouch
  config/examples/Creality/CR-10 V2/Configuration.h
Labels: config bugfix

#385 Optimize Settings for BlueR and Sapphire Pro
  config/examples/Two Trees/BlueR/BlueR V1/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V1/Configuration_adv.h
  config/examples/Two Trees/BlueR/BlueR V2/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V2/Configuration_adv.h
  config/examples/Two Trees/BlueR/BlueR V3/Configuration.h
  config/examples/Two Trees/BlueR/BlueR V3/Configuration_adv.h
  config/examples/Two Trees/Sapphire Pro/Configuration.h
  config/examples/Two Trees/Sapphire Pro/Configuration_adv.h
Labels: config improved

#387 CR-10S with BTT SKR 1.4 Turbo
  config/examples/Creality/CR-10S/BigTreeTech SKR 1.4 Turbo TMC2209/Configuration.h
  config/examples/Creality/CR-10S/BigTreeTech SKR 1.4 Turbo TMC2209/Configuration_adv.h
  config/examples/Creality/CR-10S/BigTreeTech SKR 1.4 Turbo TMC2209/_Bootscreen.h
  config/examples/Creality/CR-10S/BigTreeTech SKR 1.4 Turbo TMC2209/_Statusscreen.h
Labels: config added

#396 Enable LEVEL_BED_CORNERS on Sapphire Pro
  config/examples/Two Trees/Sapphire Pro/Configuration.h
Labels: config improved
