Repository MarlinFirmware/Configurations, pull requests merged in 2021-09, with the labels that each got.

#559 A20 series has noise on endstops this option is required
  config/examples/Geeetech/A20/Configuration.h
  config/examples/Geeetech/A20M/Configuration.h
  config/examples/Geeetech/A20T/Configuration.h
Labels: config improved

#570 Fix CR-10 Mini/SKR Mini E3 V2 Boot & Status Screens
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/_Bootscreen.h
  config/examples/Creality/CR-10 Mini/BigTreeTech SKR Mini E3 2.0/_Statusscreen.h
Labels: config updated

#567 CR-10 V3: Disable BLTouch by default
  config/examples/Creality/CR-10 Mini/MEEB-3DP/Configuration.h
  config/examples/Creality/CR-10 S4/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 1.2 with TFT35 E3 V3.0/Configuration.h
  config/examples/Creality/CR-10 S5/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 V2/Configuration.h
  config/examples/Creality/CR-10 V3/Configuration.h
  config/examples/Creality/CR-10 V3/Configuration_adv.h
  config/examples/Creality/CR-10S/CrealityV1/Configuration.h
Labels: config bugfix

#569 Add FlyingBear P902 Config
  config/examples/FlyingBear/P902/Configuration.h
  config/examples/FlyingBear/P902/Configuration_adv.h
Labels: config added

#558 Update Longer3D/U20 examples
  config/examples/Alfawise/U20-bltouch/Configuration.h
  config/examples/Alfawise/U20-bltouch/Configuration_adv.h
  config/examples/Alfawise/U20/Configuration.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: config improved

#553 Tuned configuration for UMO+
  config/examples/Ultimaker/Ultimaker Original Plus (2.1.1)/Configuration.h
  config/examples/Ultimaker/Ultimaker Original Plus (2.1.1)/Configuration_adv.h
Labels: config improved

#576 disable BLTOUCH_SET_5V_MODE in Creality / Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration_adv.h
Labels: config bugfix

#574 CR10 S5 w/BLTouch
  config/examples/Creality/CR-10 S5/CrealityV2.2-BLTouch/Configuration.h
  config/examples/Creality/CR-10 S5/CrealityV2.2-BLTouch/Configuration_adv.h
  config/examples/Creality/CR-10 S5/CrealityV2.2-BLTouch/_Bootscreen.h
  config/examples/Creality/CR-10 S5/CrealityV2.2-BLTouch/_Statusscreen.h
Labels: config added
