Repository MarlinFirmware/Configurations, pull requests merged in 2021-12, with the labels that each got.

#621 E3V2 SKR E3 Turbo change SERIAL PORT
  config/examples/Creality/Ender-3 V2/BigTreeTech SKR E3 Turbo/CrealityUI/Configuration.h
  config/examples/Creality/Ender-3 V2/BigTreeTech SKR E3 Turbo/MarlinUI/Configuration.h
Labels: config bugfix

#623 Configuration Files for EasyThreeD ET4000+ board
  config/examples/EasyThreeD/ET4000PLUS/Configuration.h
  config/examples/EasyThreeD/ET4000PLUS/Configuration_adv.h
Labels: config added

#631 Enables more of Marlin's standard features
  config/examples/Ultimaker/Ultimaker Original (1.5.7)/Configuration.h
  config/examples/Ultimaker/Ultimaker Original (1.5.7)/Configuration_adv.h
Labels: config improved

#633 Add Creality Ender 2 Pro config
  config/examples/Creality/Ender-2 Pro/CrealityV423/Configuration.h
  config/examples/Creality/Ender-2 Pro/CrealityV423/Configuration_adv.h
  config/examples/Creality/Ender-2 Pro/CrealityV423/README.md
  config/examples/Creality/Ender-2 Pro/CrealityV423/_Bootscreen.h
  config/examples/Creality/Ender-2 Pro/CrealityV423/_Statusscreen.h
Labels: config added

#636 elegoo neptune 2
  config/examples/Elegoo/Neptune 2/Configuration.h
  config/examples/Elegoo/Neptune 2/Configuration_adv.h
  config/examples/Elegoo/Neptune 2/readme.md
Labels: config added

#637 Add Kingroon KP3S config
  config/examples/Kingroon/KP3S/Configuration.h
Labels: config added
