Repository MarlinFirmware/Configurations, pull requests merged in 2022-05, with the labels that each got.

#721 Elegoo Neptune 2: Fix typos and update for better screen display
  config/examples/Elegoo/Neptune 2/Configuration.h
  config/examples/Elegoo/Neptune 2/Configuration_adv.h
  config/examples/Elegoo/Neptune 2/README.md
Labels: config bugfix

#719 Improve B1, B1 SE Plus configs
  config/examples/BIQU/B1 - SKR 2/README.md
  config/examples/BIQU/B1 SE Plus/Configuration_adv.h
  config/examples/BIQU/B1 SE Plus/README.md
Labels: config improved

#731 Fix TINA2 board name
  config/examples/Weedo/Tina2/README.md
  config/examples/Weedo/Tina2/V2/Configuration.h
  config/examples/Weedo/Tina2/V3/Configuration.h
Labels: config bugfix

#728 Explicitly specify the number of M106 fan(s)
  config/examples/Dagoma/Disco Ultimate/Configuration.h
Labels: config improved

#734 Fix Anycubic i3 Mega Config
  config/examples/AnyCubic/i3 Mega/Configuration.h
Labels: config bugfix

#729 Elegoo neptune 2 max temp update
  config/examples/Elegoo/Neptune 2/Configuration.h
Labels: config updated

#739 Improve Ender5Plus config
  config/examples/Creality/Ender-5 Plus/Configuration.h
  config/examples/Creality/Ender-5 Plus/Configuration_adv.h
Labels: config improved
