Repository MarlinFirmware/Configurations, pull requests merged in 2022-08, with the labels that each got.

#793 Update Velleman K8400 Driver Types
  config/examples/Velleman/K8400/Dual-head/Configuration.h
  config/examples/Velleman/K8400/Single-head/Configuration.h
Labels: config updated

#791 Add Marlin 2.1 configuration for Ultimaker 2+
  config/examples/Ultimaker/Ultimaker 2+/Configuration.h
  config/examples/Ultimaker/Ultimaker 2+/Configuration_adv.h
Labels: config added

#795 Update BX Park Position
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/README.md
Labels: config improved

#796 Add 2.1.1 Release Link to Readme
  README.md
Labels: config updated

#797 MakerTech3D
  config/examples/Creality/Ender-3 S1/LCD Files/README.md
  config/examples/Creality/Ender-3 S1/README.md
  config/examples/MakerTech3D/Proforge2sDual/Configuration.h
  config/examples/MakerTech3D/Proforge2sDual/Configuration_adv.h
  config/examples/MakerTech3D/Proforge2sDual/Proforge2sDual.zip
  config/examples/MakerTech3D/Proforge2sDual/README.md
Labels: config added

#800 FT-5 (Folger Tech)
  config/examples/FolgerTech/FT-5 R2/Configuration.h
  config/examples/FolgerTech/FT-5 R2/Configuration_adv.h
Labels: config added
