Repository MarlinFirmware/Configurations, pull requests merged in 2022-02, with the labels that each got.

#672 Updating Index REV03 Motherboard Configuration
  config/examples/Index/REV_03/Configuration.h
  config/examples/Index/REV_03/Configuration_adv.h
Labels: config bugfix

#675 Remove Bad Ender-5 Config
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/Configuration_adv.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/README.md
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/_Bootscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR 1.4 Turbo (TMC2209)/_Statusscreen.h
Labels: config improved

#676 Add CTC Bizer configuration
  config/examples/CTC/Bizer/Configuration.h
  config/examples/CTC/Bizer/Configuration_adv.h
Labels: config added
