Repository MarlinFirmware/Configurations, pull requests merged in 2022-06, with the labels that each got.

#744 Update LCD_SERIAL_PORT to 2 For Ender 5 plus
  config/examples/Creality/Ender-5 Plus/Configuration.h
Labels: config bugfix

#745 Configuration Files for Sovol SV01 with SKR Mini E3 V3 Board
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/Configuration.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/Configuration_adv.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/README.md
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/_Bootscreen.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/_Statusscreen.h
Labels: config added

#749 Fix Ender-6 BLTouch Option
  config/examples/Creality/Ender-6/Configuration.h
Labels: config bugfix

#748 Configuration Files for Sovol SV01 (Stock) with SKR Mini E3 V3 Board
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Fixed Probe/_Statusscreen.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/README.md
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/_Bootscreen.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/_Statusscreen.h
  config/examples/Velleman/K8200 Upgraded/Configuration.h
  config/examples/Velleman/K8200 Upgraded/README.md
  config/examples/Weedo/Tina2/README.md
Labels: config updated

#763 More Biqu BX Improvements
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/Configuration_adv.h
Labels: config improved
