Repository MarlinFirmware/Configurations, pull requests merged in 2022-07, with the labels that each got.

#774 Update Biqu BX Config: SKR SE BX V3.0
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/README.md
Labels: config updated

#775 Update BX Readme
  config/examples/BIQU/BX/README.md
Labels: config improved

#777 Update Prusa MK3/S Configs
  config/examples/Prusa/MK3/Configuration.h
  config/examples/Prusa/MK3/Configuration_adv.h
  config/examples/Prusa/MK3/README.md
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration.h
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration_adv.h
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/README.md
Labels: config improved, config bugfix

#779 Improve B1 SE Plus Config
  config/examples/BIQU/B1 SE Plus/Configuration.h
Labels: config improved

#782 Add Missing Creality Boot & Status Screens
  config/examples/Creality/CR-10 S4/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 1.2 with TFT35 E3 V3.0/Configuration.h
  config/examples/Creality/CR-10 S5/CrealityV1/Configuration.h
  config/examples/Creality/CR-10 S5/CrealityV2.2-BLTouch/Configuration.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/CR-10/CrealityV1/Configuration.h
  config/examples/Creality/CR-10S/BigTreeTech SKR 2.0 TMC2209/Configuration.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR 1.4 Turbo/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 1.0/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 1.2/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech E3 RRF/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR 1.4/_Bootscreen.h
  config/examples/Creality/Ender-3/BigTreeTech SKR 1.4/_Statusscreen.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/2-into-1 Hotend/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/Dual Z/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3 Turbo/Single Extruder/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration.h
  config/examples/Creality/Ender-3/MKS Robin E3P/Configuration.h
  config/examples/Creality/Ender-3/MKS Robin E3P/_Bootscreen.h
  config/examples/Creality/Ender-3/MKS Robin E3P/_Statusscreen.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/_Bootscreen.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/_Statusscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo with BLTouch/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo with BLTouch/_Bootscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo with BLTouch/_Statusscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo/_Bootscreen.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo/_Statusscreen.h
Labels: config improved, config bugfix

#780 Configuration to CR-10 S5 with BTT SKR E3 mini V3
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/Configuration.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/Configuration_adv.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/README.md
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/_Bootscreen.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/_Statusscreen.h
Labels: config added

#784 example Linear_axes RAMPS-5-LINEAR_AXES no longer compiles
  config/examples/linear_axes/RAMPS 5 LINEAR_AXES/Configuration.h
  config/examples/linear_axes/RAMPS 5 LINEAR_AXES/Configuration_adv.h
Labels: bug

#786 Fix, Improve Biqu BX Config
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/Configuration_adv.h
  config/examples/BIQU/BX/README.md
Labels: config improved

#788 Reduce Chiron Acceleration Settings
  config/examples/AnyCubic/Chiron/Configuration.h
Labels: config improved

#789 Fix Ender-3 Max Z/E Driver Types
  config/examples/Creality/Ender-3 Max/Configuration.h
Labels: config bugfix

#752 Add Teensy35_36_SIMPLE on LulzBot Mini2_Hibiscus and Mini2_Hibiscus_Experimental
  config/examples/LulzBot/Mini2/Teensy/Configuration.h
  config/examples/LulzBot/Mini2/Teensy/Configuration_adv.h
Labels: config added

#759 Added example config for Ender5Pro 422 with Micro-Swiss Direct Drive and BLtouch
  config/default/Configuration_adv.h
  config/examples/CTC/Bizer/Configuration_adv.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration_adv.h
  config/examples/LulzBot/Mini2/Teensy/Configuration_adv.h
  config/examples/Sovol/SV-01/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Velleman/K8200 Upgraded/Configuration.h
  config/examples/Velleman/K8200 Upgraded/README.md
Labels: config added

#790 Microswiss Direct Drive Needs Different Steps/mm
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration.h
Labels: config bugfix
