Repository MarlinFirmware/Configurations, pull requests merged in 2022-11, with the labels that each got.

#834 Update Simulator Config
  config/examples/Simulator/Configuration.h
Labels: config bugfix

#844 🩹 Fix Sidewinder X2 stepper config
  config/examples/Artillery/Sidewinder X2/Configuration.h
  config/examples/Artillery/Sidewinder X2/Configuration_adv.h
Labels: config bugfix

#842 Fix SD card detection on BIGTREETECH SKR E3-DIP V1.x
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration_adv.h
Labels: config bugfix

#836 Update AnyCubic/Chiron/Configuration.h
  config/examples/AnyCubic/Chiron/Configuration.h
Labels: config improved

#847 Update Simulator Config (Again)
  config/examples/Simulator/Configuration.h
Labels: config updated
