Repository MarlinFirmware/Configurations, pull requests merged in 2022-03, with the labels that each got.

#685 add support for Weedo TINA2 printer
  config/examples/Weedo/Tina2/README.md
  config/examples/Weedo/Tina2/V2/Configuration.h
  config/examples/Weedo/Tina2/V2/Configuration_adv.h
  config/examples/Weedo/Tina2/V3/Configuration.h
  config/examples/Weedo/Tina2/V3/Configuration_adv.h
Labels: config added

#683 Add FYSETC Cheetah 2.0 config for Ender-3
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/_Bootscreen.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/_Statusscreen.h
Labels: config added

#695 Fix sanity check error for FAN_PIN / SPEAKER timer conflict for Anycubic Chiron config
  config/examples/AnyCubic/Chiron/Configuration.h
Labels: config bugfix

#694 Add Biqu Thunder Standard Config
  config/examples/BIQU/Thunder Standard/Configuration.h
  config/examples/BIQU/Thunder Standard/Configuration_adv.h
Labels: config added

#696 Remove Default TMC Slave Addresses
  config/examples/AnyCubic/Mega Zero/BigTreeTech SKR Mini MZ V1.0/Configuration_adv.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Creality/CR-10S/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 1.0/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech E3 RRF/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 1.0/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration_adv.h
  config/examples/Creality/Ender-3/TH3D EZBoard Lite V2/Configuration_adv.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/FYSETC/AIO_II/Configuration_adv.h
Labels: config updated

#697 Add SPI Stepper Support To Index Rev03
  config/examples/Index/REV_03/Configuration_adv.h
Labels: config improved

#700 Enable interrupts on SKR Mini E3 3.0
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 1.2 with TFT35 E3 V3.0/Configuration.h
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 1.2 with TFT35 E3 V3.0/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
Labels: config improved
