Repository MarlinFirmware/Configurations, pull requests merged in 2022-12, with the labels that each got.

#849 Fix Biqu BX ABS Bed Preheat Temperature
  config/examples/BIQU/BX/Configuration.h
Labels: config updated

#837 Fix Biqu B1 SE Plus Fan Config
  config/examples/BIQU/B1 SE Plus/Configuration.h
  config/examples/BIQU/B1 SE Plus/Configuration_adv.h
Labels: config improved, config bugfix

#856 Ender 3 v2 Neo Configs
  config/examples/Creality/Ender-3 V2 Neo/Configuration.h
  config/examples/Creality/Ender-3 V2 Neo/Configuration_adv.h
Labels: config added

#857 ✨ Biqu B1 SE
  config/examples/BIQU/B1 SE/Configuration.h
  config/examples/BIQU/B1 SE/Configuration_adv.h
  config/examples/BIQU/B1 SE/README.md
Labels: config added

#858 Add Kingroon KP5L Configs
  config/examples/Kingroon/KP5L/Configuration.h
  config/examples/Kingroon/KP5L/Configuration_adv.h
Labels: config added

#851 🔧 Ender-5 ENCODER_NOISE_FILTER
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR E3 Turbo/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 1.2/Configuration.h
  config/examples/Creality/Ender-5 Pro/BigTreeTech SKR Mini E3 2.0 with BLTouch/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV1/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV422/Configuration.h
  config/examples/Creality/Ender-5 Pro/CrealityV427/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo with BLTouch/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR E3 Turbo/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 1.2/Configuration.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Creality/Ender-5/CrealityV1/Configuration.h
  config/examples/Creality/Ender-5/CrealityV427/Configuration.h
Labels: config improved

#864 remove incorrect SD_DETECT_STATE HIGH in config/examples/Formbot/T_Rex_2+/Configuration_adv.h
  config/examples/Formbot/T_Rex_2+/Configuration.h
  config/examples/Formbot/T_Rex_2+/Configuration_adv.h
Labels: config bugfix

#871 add release 2.1.2 to the README.md
  README.md
Labels: config updated
