Repository MarlinFirmware/Configurations, pull requests merged in 2023-04, with the labels that each got.

#914 Fixed tramming point names
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/Configuration_adv.h
Labels: config bugfix

#920 Adds RS485 defines to configuration files for LumenPnP
  config/examples/Opulo/Lumen_REV3/Configuration.h
  config/examples/Opulo/Lumen_REV3/Configuration_adv.h
  config/examples/Opulo/Lumen_REV4/Configuration.h
Labels: config updated

#922 ABS preheat value fixed
  config/examples/Creality/CR-10S/CrealityV1/Configuration.h
Labels: config updated

#925 Fix Ultimaker 2/2+ Encoder Pulses Per Step
  config/examples/Ultimaker/Ultimaker 2+/Configuration.h
  config/examples/Ultimaker/Ultimaker 2/Configuration.h
Labels: config improved

#926 Add BigTreeTech Manta E3 EZ Ender-3 Config
  config/examples/Creality/Ender-3/BigTreeTech Manta E3 EZ/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech Manta E3 EZ/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech Manta E3 EZ/_Bootscreen.h
  config/examples/Creality/Ender-3/BigTreeTech Manta E3 EZ/_Statusscreen.h
Labels: config added

#928 Use Default Z_STEPPER_ALIGN_ITERATIONS of 5 for Ender-3 / Pro
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 1.0/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 1.2/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR 1.4/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR E3-DIP V1.1/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 1.0/Configuration_adv.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 1.2/Configuration_adv.h
  config/examples/Creality/Ender-3/CrealityV1/Configuration_adv.h
  config/examples/Creality/Ender-3/CrealityV422/Configuration_adv.h
  config/examples/Creality/Ender-3/CrealityV427/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 2.0/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration_adv.h
  config/examples/Creality/Ender-3/TH3D EZBoard Lite V2/Configuration_adv.h
Labels: config improved
