Repository MarlinFirmware/Configurations, pull requests merged in 2023-03, with the labels that each got.

#902 Support for Tronxy XY-2 Pro
  config/examples/Tronxy/XY2-Pro/Configuration.h
  config/examples/Tronxy/XY2-Pro/Configuration_adv.h
Labels: config added

#909 Specify FAN_INVERTING 1 in JG Aurora A1/A5S examples
  config/examples/JGAurora/A1/Configuration_adv.h
  config/examples/JGAurora/A5S/Configuration_adv.h
Labels: config bugfix

#911 Add B1 SE Touch Calibration Settings
  config/examples/BIQU/B1 SE Plus/Configuration.h
  config/examples/BIQU/B1 SE/Configuration.h
Labels: config improved

#910 Update Biqu Hurakan Config
  config/examples/BIQU/Hurakan/Configuration_adv.h
  config/examples/BIQU/Hurakan/README.md
Labels: config improved
