Repository MarlinFirmware/Configurations, pull requests merged in 2023-02, with the labels that each got.

#881 Change HOMING_FEEDRATE_MM_M
  config/examples/delta/kossel_mini/Configuration.h
Labels: config bugfix

#884 Update LCD type in AnyCubic Mega Zero 2.0 Anycubic V1
  config/examples/AnyCubic/Mega Zero 2.0/Anycubic V1/Configuration.h
Labels: bug

#882 + Tronxy D01 sample config
  config/examples/Tronxy/D01/CXY-v6-191017 board/Configuration.h
  config/examples/Tronxy/D01/CXY-v6-191017 board/Configuration_adv.h
Labels: config added

#885 + Ender-3 Neo Example Config
  config/examples/Creality/Ender-3 Neo/Configuration.h
  config/examples/Creality/Ender-3 Neo/Configuration_adv.h
  config/examples/Creality/Ender-3 Neo/_Bootscreen.h
  config/examples/Creality/Ender-3 Neo/_Statusscreen.h
Labels: config added

#850 ✨ Biqu Hurakan
  config/examples/BIQU/Hurakan/Configuration.h
  config/examples/BIQU/Hurakan/Configuration_adv.h
  config/examples/BIQU/Hurakan/README.md
Labels: config added

#887 🔧 Combine Biqu B1 Configs
  config/examples/BIQU/B1 - SKR 1.4/Configuration.h
  config/examples/BIQU/B1 - SKR 1.4/README.md
  config/examples/BIQU/B1 - SKR 2/README.md
  config/examples/BIQU/B1/Configuration.h
  config/examples/BIQU/B1/Configuration_adv.h
  config/examples/BIQU/B1/README.md
Labels: config improved

#886 Replacing Screen files for the DACAI Screen.
  config/examples/Creality/Ender-3 V2/LCD Files/Custom Bootscreens/Custom Boot Screen Instructions.md
  config/examples/Creality/Ender-3 V2/LCD Files/Custom Bootscreens/Frosty Night Grass.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/Custom Bootscreens/Polygon Terrain.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/Custom Bootscreens/SphereConnections.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/Custom Bootscreens/Streaks.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/private/image/0.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/private/image/1.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/private/image/2.jpg
  config/examples/Creality/Ender-3 V2/LCD Files/private/image/3_bg.jpg
Labels: config improved

#889 Simax Mi-M200 initial configurations
  config/examples/Simax/Mi-M200/Configuration.h
  config/examples/Simax/Mi-M200/Configuration_adv.h
Labels: config added

#895 Undo custom ENDER_3_PRO_BLTOUCH define
  config/examples/Creality/Ender-3 Pro/CrealityV422/Configuration.h
Labels: config improved

#896 set FILAMENT_RUNOUT_SCRIPT "M600 %c" on Geeetech A20M
  config/examples/Geeetech/A20M/Configuration.h
Labels: config bugfix

#894 Fix Biqu B1 Merge
  config/examples/BIQU/B1 - SKR 2/Configuration_adv.h
  config/examples/BIQU/B1/Configuration_adv.h
Labels: config bugfix

#898 update LEVELING_BED_TEMP in Ender-3 Neo
  config/examples/Creality/Ender-3 Neo/Configuration.h
Labels: config bugfix
