Repository MarlinFirmware/Configurations, pull requests merged in 2023-05, with the labels that each got.

#929 New config for Voxelab Aquila C2 w BTT SKR Mini E3 v2.0
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/Bootscreen.png
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/Configuration.h
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/Configuration_adv.h
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/Status.png
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/_Bootscreen.h
  config/examples/Voxelab/Aquila/BigTreeTech SKR Mini E3 2.0/_Statusscreen.h
Labels: config added

#924 Improve Ender-3 with SKR Mini E3 V3 Config
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3 Pro/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Creality/Ender-3 Pro/CrealityV1/Configuration.h
  config/examples/Creality/Ender-3 Pro/CrealityV427/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
Labels: config improved

#931 add configurations for the Kingroon KP3S Pro and KPS Pro S1 printers
  config/examples/Kingroon/KP3S_Pro/Configuration.h
  config/examples/Kingroon/KP3S_Pro/Configuration_adv.h
Labels: config added

#932 Update Hurakan Readme
  config/examples/BIQU/Hurakan/README.md
Labels: config improved

#940 Update JGAurora A5 Heater 0 Max Temp
  config/examples/JGAurora/A5/Configuration.h
Labels: config bugfix
