Repository MarlinFirmware/Configurations, pull requests merged in 2023-06, with the labels that each got.

#941 Enable bed thermistor as a default option
  config/default/Configuration.h
Labels: config improved

#937 Guard Some LCD_SERIAL_PORT Defines
  config/examples/Creality/Ender-5 Plus/BigTreeTech SKR 3/Configuration.h
  config/examples/Creality/Ender-5 Plus/BigTreeTech SKR 3/Configuration_adv.h
  config/examples/Creality/Ender-5 Plus/CrealityV1/Configuration.h
  config/examples/Creality/Ender-5 Plus/CrealityV1/Configuration_adv.h
  config/examples/Creality/Ender-6/Configuration.h
  config/examples/Creality/Ender-6/Configuration_adv.h
  config/examples/Malyan/M200/Configuration.h
  config/examples/Nextion/Configuration.h
  config/examples/delta/Malyan M300/Configuration.h
  config/examples/delta/Malyan M300/Configuration_adv.h
Labels: config improved

#943 ✨ CR-10 with SKR Mini E3 V3.0
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 3.0/_Bootscreen.h
  config/examples/Creality/CR-10/BigTreeTech SKR Mini E3 3.0/_Statusscreen.h
Labels: config added

#950 fix wrong TFT defines
  config/examples/Elegoo/Neptune 2/Configuration.h
Labels: config bugfix
