Repository MarlinFirmware/Configurations, pull requests merged in 2023-10, with the labels that each got.

#973 BigTreeTech Manta M4P V1.0 => V2.1
  config/examples/BIQU/Hurakan/Configuration.h
Labels: config updated

#968 use DWIN_MARLINUI_PORTRAIT on ender3 v2 marlin user interface.
  config/examples/Creality/Ender-3 V2/BigTreeTech SKR E3 Turbo/MarlinUI/Configuration.h
  config/examples/Creality/Ender-3 V2/BigTreeTech SKR Mini E3 v3/MarlinUI/Configuration.h
  config/examples/Creality/Ender-3 V2/CrealityV422/MarlinUI/Configuration.h
Labels: config updated

#965 add CR-10 MAX configs
  config/examples/Creality/CR-10 Max/Configuration.h
  config/examples/Creality/CR-10 Max/Configuration_adv.h
  config/examples/Creality/CR-10 Max/README.md
Labels: config added, Needs: Testing

#980 JGAurora Magic Fixes
  config/examples/JGAurora/Magic/Configuration.h
Labels: config bugfix

#981 Updated CR-10 Max Configuration.h
  config/examples/Creality/CR-10 Max/Configuration.h
Labels: config bugfix

#977 disable G26_MESH_VALIDATION Ender-3 S1 STM32F4
  config/examples/Creality/Ender-3 S1/STM32F4/Configuration.h
Labels: config updated
