Repository MarlinFirmware/Configurations, pull requests merged in 2024-09, with the labels that each got.

#1094 fix Z_CLEARANCE_FOR_HOMING
  config/examples/CNC/miniRambo/Configuration.h
Labels: config bugfix

#1097 🔧 English as default on Ender-5 S1
  config/examples/Creality/Ender-5 S1/Configuration.h
Labels: config updated

#1098 Sovol SV06 pre-set shaper frequencies
  config/examples/Sovol/SV-06/Configuration_adv.h
Labels: config improved

#1084 Simple metal rev f6
  config/examples/Printrbot/Simple_Metal_RevF6/Configuration.h
  config/examples/Printrbot/Simple_Metal_RevF6/Configuration_adv.h
  config/examples/Printrbot/Simple_Metal_RevF6/README.md
Labels: config added

#1100 🩹 Fix Creality CR-10 S5 with BTT SKR Mini E3 V3 config
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/Configuration_adv.h
Labels: config bugfix

#1064 Added HICTOP 3DP-17
  config/examples/Hictop/3DP-17/Configuration.h
  config/examples/Hictop/3DP-17/Configuration_adv.h
Labels: config added
