Repository MarlinFirmware/Configurations, pull requests merged in 2024-06, with the labels that each got.

#1055 📝 Update AnyCubic Vyper README
  config/examples/AnyCubic/Vyper/README.md
Labels: Docs / README

#1058 🔧 Suppress BIQU Hurakan TMC DIAG jumper warning
  config/examples/BIQU/Hurakan/Configuration.h
Labels: config improved

#1063 Update AnyCubic Vyper configuration
  config/examples/AnyCubic/Vyper/Configuration.h
  config/examples/AnyCubic/Vyper/Configuration_adv.h
Labels: config improved

#1057 🩹 Fix Formbot T-Rex 3 X2 max position
  config/examples/Formbot/T_Rex_3/Configuration_adv.h
Labels: config bugfix

#1074 🔧 Define Malyan M300 E0_AUTO_FAN_PIN directly
  config/examples/delta/Malyan M300/Configuration_adv.h
Labels: config updated

#1073 📝 Update GitHub Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/contributing.md
  .github/workflows/check-pr.yml
Labels: GitHub Admin
