Repository MarlinFirmware/Configurations, pull requests merged in 2024-02, with the labels that each got.

#1007 Enable MicroProbe V2 on Hurakan Build, Biqu => BIQU
  config/examples/BIQU/B1 SE Plus/README.md
  config/examples/BIQU/B1 SE/README.md
  config/examples/BIQU/B1/README.md
  config/examples/BIQU/BX/README.md
  config/examples/BIQU/Hurakan/Configuration.h
  config/examples/BIQU/Hurakan/README.md
  config/examples/BIQU/Thunder Standard/Configuration.h
Labels: config improved

#1008 Update documentation for TINA2 models
  config/examples/Weedo/Tina2/README.md
Labels: Docs / README

#1012 Various config fixes
  config/examples/AnyCubic/Mega Zero 2.0/Anycubic V1/Configuration.h
  config/examples/AnyCubic/Mega Zero 2.0/Anycubic V1/Configuration_adv.h
  config/examples/CTC/A13/Configuration.h
  config/examples/Creality/Ender-3/BigTreeTech SKR 1.4/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah 1.2/base/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration.h
  config/examples/Creality/Ender-3/FYSETC Cheetah/base/Configuration_adv.h
  config/examples/Creality/Ender-5/BigTreeTech SKR Mini E3 3.0 with BLTouch/Configuration.h
  config/examples/FlyingBear/P902/Configuration.h
  config/examples/Ortur 4/Configuration.h
  config/examples/RapideLite/RL200/Configuration.h
  config/examples/RepRapWorld/Megatronics/Configuration_adv.h
  config/examples/RepRapWorld/Minitronics20/CNC/Configuration_adv.h
  config/examples/TinyBoy2/Configuration.h
  config/examples/Tronxy/D01/CXY-v6-191017 board/Configuration_adv.h
  config/examples/Tronxy/X5S-2E/Green Board (Chitu V5)/Configuration.h
  config/examples/Two Trees/Sapphire Plus/Sapphire Plus V2/Configuration_adv.h
  config/examples/Ultimaker/Ultimaker Original Plus (2.1.1)/Configuration.h
  config/examples/WASP/PowerWASP/Configuration.h
  config/examples/Weedo/Tina2/V2/Configuration.h
  config/examples/Weedo/Tina2/V3/Configuration.h
  config/examples/Zonestar/P802M/Configuration.h
  config/examples/delta/Dreammaker/Overlord/Configuration.h
  config/examples/delta/Dreammaker/Overlord_Pro/Configuration.h
  config/examples/delta/FLSUN/kossel/Configuration.h
  config/examples/delta/Geeetech/G2/Configuration.h
  config/examples/delta/Geeetech/G2Pro/Configuration.h
  config/examples/delta/Geeetech/G2S/Configuration.h
  config/examples/delta/Geeetech/G2SPro/Configuration.h
  config/examples/delta/kossel_pro/Configuration.h
  config/examples/gCreate/gMax1.5+/Configuration.h
Labels: config bugfix

#1009 Added Configs for Creality ender 2 pro V24S4
  config/examples/Creality/Ender-2 Pro/CrealityV24S4/Configuration.h
  config/examples/Creality/Ender-2 Pro/CrealityV24S4/Configuration_adv.h
  config/examples/Creality/Ender-2 Pro/CrealityV24S4/README.md
  config/examples/Creality/Ender-2 Pro/CrealityV24S4/_Bootscreen.h
  config/examples/Creality/Ender-2 Pro/CrealityV24S4/_Statusscreen.h
  config/examples/Creality/Ender-3 Max/_Statusscreen.h
  config/examples/Sunlu/S8/_Bootscreen.h
Labels: config added
