Repository MarlinFirmware/Configurations, pull requests merged in 2024-05, with the labels that each got.

#1050 🩹 Fix CI with BOARD_SIMULATED
  .github/workflows/build-pr.yml
Labels: GitHub Admin

#1037 Add BIBO configuration for BLTouch
  config/examples/BIBO/TouchX/default - BLTouch/Configuration.h
  config/examples/BIBO/TouchX/default - BLTouch/Configuration_adv.h
Labels: config added

#1045 🔧 Suppress BIQU Hurakan MicroProbe pull-up warning
  config/examples/BIQU/Hurakan/Configuration.h
Labels: config improved

#1049 🔧 Update supported Simulator displays
  config/examples/Simulator/Configuration.h
Labels: config improved

#1044 Add Configuration files for Two Trees SP-5 V3
  config/examples/Two Trees/SP-5_V3/Configuration.h
  config/examples/Two Trees/SP-5_V3/Configuration_adv.h
  config/examples/Two Trees/SP-5_V3/README.md
Labels: config added

#1046 🔧 Fix broken Velleman K8400 links
  config/examples/Velleman/K8400/Dual-head/README.md
  config/examples/Velleman/K8400/README.md
  config/examples/Velleman/K8400/Single-head/README.md
Labels: Docs / README

#1032 add Ender 3 V2 Neo with BTT_SKR_MINI_E3_V3_0 and BTT TFT35 3.0.1
  config/examples/Creality/Ender-3 V2 Neo/BigTreeTech SKR Mini E3 3.0/Configuration.h
  config/examples/Creality/Ender-3 V2 Neo/BigTreeTech SKR Mini E3 3.0/Configuration_adv.h
  config/examples/Creality/Ender-3 V2 Neo/BigTreeTech SKR Mini E3 3.0/README.md
  config/examples/Creality/Ender-3 V2 Neo/CrealityV422/Configuration.h
  config/examples/Creality/Ender-3 V2 Neo/CrealityV422/Configuration_adv.h
Labels: config added, Needs Testing

#1053 🔥 Drop Teensy-based LulzBot Mini 2
  config/examples/LulzBot/Mini2/Teensy/Configuration.h
  config/examples/LulzBot/Mini2/Teensy/Configuration_adv.h
Labels: config removed

#1054 📝 Add Eazao Zero dummy thermistor note
  config/examples/Eazao/Zero/Configuration.h
Labels: Docs / README
