Repository MarlinFirmware/Configurations, pull requests merged in 2024-03, with the labels that each got.

#1010 Add turnigy fabrikator configs
  config/examples/Turnigy/Fabrikator/Configuration.h
  config/examples/Turnigy/Fabrikator/Configuration_adv.h
Labels: config added

#1011 🔧 BIQU BX updates
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/Configuration_adv.h
  config/examples/BIQU/BX/README.md
Labels: config improved

#1013 ✅ Update Actions to latest versions, use Python 3.9
  .github/workflows/build-pr.yml
  .github/workflows/deploy.yml
Labels: GitHub Admin

#1017 📝 Add 2.1.2.2 to README, update formatting
  README.md
Labels: Docs / README

#1018 ✨ Ender-5 V427 plus BLTouch
  config/examples/Creality/Ender-5/CrealityV427 with BLTouch/Configuration.h
  config/examples/Creality/Ender-5/CrealityV427 with BLTouch/Configuration_adv.h
  config/examples/Creality/Ender-5/CrealityV427 with BLTouch/_Bootscreen.h
  config/examples/Creality/Ender-5/CrealityV427 with BLTouch/_Statusscreen.h
Labels: config added

#1019 ✨ Rolohaun Rook MK1 (Kit by LDO Motors)
  config/examples/Rolohaun/Rook MK1/Configuration.h
  config/examples/Rolohaun/Rook MK1/Configuration_adv.h
  config/examples/Rolohaun/Rook MK1/LDO x Rolohaun Bootscreen/_Bootscreen.h
  config/examples/Rolohaun/Rook MK1/README.md
  config/examples/Rolohaun/Rook MK1/_Bootscreen.h
  config/examples/Rolohaun/Rook MK1/_Statusscreen.h
Labels: config added

#1022 ✨ Eazao Zero
  config/examples/Eazao/Zero/Configuration.h
  config/examples/Eazao/Zero/Configuration_adv.h
Labels: config added

#1023 ✨ 3DMatik XL
  config/examples/3DMatik/XL/Configuration.h
  config/examples/3DMatik/XL/Configuration_adv.h
Labels: config added

#1024 🐛 Disable Z homing on foamcutters
  config/examples/FoamCutter/generic/Configuration.h
  config/examples/FoamCutter/rcKeith/Configuration.h
Labels: config bugfix

#1025 Add support for stock CR-10S with BLTouch
  config/examples/Creality/CR-10S/CrealityV1 - BLTouch/Configuration.h
  config/examples/Creality/CR-10S/CrealityV1 - BLTouch/Configuration_adv.h
  config/examples/Creality/CR-10S/CrealityV1 - BLTouch/_Bootscreen.h
  config/examples/Creality/CR-10S/CrealityV1 - BLTouch/_Statusscreen.h
Labels: config added
