Repository MarlinFirmware/Configurations, pull requests merged in 2024-08, with the labels that each got.

#1083 official sv06 configuration
  config/examples/Sovol/SV-06/Configuration.h
  config/examples/Sovol/SV-06/Configuration_adv.h
  config/examples/Sovol/SV-06/_Bootscreen.h
  config/examples/Sovol/SV-06/_Statusscreen.h
Labels: config added

#1088 Sovol SV06 Update with real data, and real usage
  config/examples/Sovol/SV-06/Configuration.h
  config/examples/Sovol/SV-06/Configuration_adv.h
Labels: config improved

#1090 Fix Sovol SV06 settings
  config/examples/Sovol/SV-06/Configuration.h
  config/examples/Sovol/SV-06/_Bootscreen.h
Labels: config bugfix
