Repository MarlinFirmware/Configurations, pull requests merged in 2024-11, with the labels that each got.

#1114 📌 Pin Ubuntu Runner to 22.04
  .github/workflows/build-pr.yml
  .github/workflows/check-pr.yml
  .github/workflows/deploy.yml
Labels: GitHub Admin

#1115 🐛🚸 BIQU BX Fixes & Improvements
  config/examples/BIQU/BX/Configuration.h
  config/examples/BIQU/BX/Configuration_adv.h
Labels: config improved, config bugfix, config updated

#1116 💡 Update "default minimum feedrates" comments
  config/default/Configuration_adv.h
  config/examples/Hictop/3DP-17/Configuration_adv.h
Labels: config updated

#1117 Set missing Longer LK & U20 SDIO define
  config/examples/Alfawise/U20-bltouch/Configuration_adv.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: config bugfix
