Repository MarlinFirmware/Configurations, pull requests merged in 2025-03, with the labels that each got.

#1131 Enable turbo fan on FlashForge Creator Pro
  config/examples/FlashForge/CreatorPro/Configuration.h
  config/examples/FlashForge/CreatorPro/Configuration_adv.h
  config/examples/FlashForge/CreatorPro/README.md
Labels: config improved

#1133 📝 Update CR-10 S5 README
  config/examples/Creality/CR-10 S5/BigTreeTech SKR Mini E3 v3/README.md
Labels: Docs / README

#1118 Add Sovol SV06 Plus config
  config/examples/Sovol/SV-06 Plus/Configuration.h
  config/examples/Sovol/SV-06 Plus/Configuration_adv.h
Labels: config added

#1136 🚸 Editable homing for Prusa MK3 with BTT002
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration.h
  config/examples/Prusa/MK3S-BigTreeTech-BTT002/Configuration_adv.h
Labels: config improved
